<div>

    <!--TODO #7-->

    <p>Number a: <input type="number" name="number1" ng-model="number1"></p>

    <p>Number b:<input type="number" name="number2" ng-model="number2"> </p>

    <p>
        <!--TODO Button for calculating values-->
        <button type="button" ng-click="calculate()">CALCULATE</button>
        
    </p>

    <p> a + b = <span>{{op1}}</span></p>

    <p> a - b = <span>{{op2}}</span></p>

    <p> a * b = <span>{{op3}}</span></p>

    <p> a / b = <span>{{op4}}</span></p>

</div>